.clear {
	clear: both;
}
.check-wine-center{
	position: absolute;
	z-index: 999999;
	top: 130px;
	left: 34px;
}
.check-wine-center h3 {
	padding: 8px 10px;
	background: #a11011;
	width: 180px;
	
}
.check-wine-center h3 a{
	padding-left: 20px;
	font: 600 15px/19px "微软雅黑";
	letter-spacing: 5px;
	color: #ece7e5;
	display: block;
	width: 160px;
	background: url(http://127.0.0.1:80/yesmywine-project/icon/bg_header5.png) no-repeat -180px -160px;
}
.check-wine-center h3:hover{
	background: #BC0001;
}
.check-wine-center .wine-group {
	position: absolute;
	z-index: 99999;
	/* width: 500px;
	height: 450px; */
}
.check-wine-center .wine-group a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.check-wine-center .item-show {
	float: left;
	position: relative;
	background: #ffffff;
}

.check-wine-center .item-show li {
	padding: 3px 15px;
	height: auto;
	border-bottom: solid 1px #d4d4d4;
	width: 170px;
	list-style: none;
	position: relative;
}

.check-wine-center .item-show-list p {
	color: #85726C;
	font-size: 12px;
	line-height: 20px;
}

.check-wine-center .item-show-list a {
	float: left;
	margin-right: 10px;
}

.check-wine-center .item-show-list h4 {
	height: 20px;
	line-height: 20px;
	width: 180px;
	float: left;
	margin: 5px 0;
	font: 600 14px/20px "微软雅黑";
	color: #666666;
	background: url(../icon/bg_header4.png) no-repeat right -203px;
}
.check-wine-center .item-hide{
	background: #ffffff;
	filter: alpha(opacity=90);
	opacity: 0.9;	
	position: absolute;
	left: 200px;
	display: none;
}
.check-wine-center .item-hide {
	float: left;
	padding: 5px;
	position: absolute;
	left: 200px;
	display: none;
}
.check-wine-center .item-hide.active{
	display: block;
}
.check-wine-center .item-hide-list{
	display: none;
	width: 250px;
	height: 50px;	/* 要不要有啊 */
	border-bottom: 1px dotted #81665c;
	position: absolute;
	left: 200px;	
}
.check-wine-center .item-hide-list.active{
	display: block;
	/* position: relative;
	left: 500px; */
	left: 0;
	width: 250px;
	height: 100px;	/* 要不要有啊 */
	background: #ffffff;
	filter: alpha(opacity=90);
	opacity: 0.9;
	padding: 5px;	
	border-bottom: 1px dotted #81665c;
}
.check-wine-center .item-hide-list h5 {
	font: normal 14px/24px "微软雅黑";
	float: left;
	width: 80px;
	height: inherit;
	margin: 0;
}

.check-wine-center .item-hide-list p a {
	font: normal 14px/24px "微软雅黑";
	float: left;
	margin-right: 15px;
}

